<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.1" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd">
    <context-param>
        <param-name>User-name</param-name>
        <param-value>MCA</param-value>
    </context-param>
    <context-param>
        <param-name>Password</param-name>
        <param-value>MCA</param-value>
    </context-param>
    <servlet>
        <servlet-name>Color</servlet-name>
        <servlet-class>Color</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Calc</servlet-name>
        <servlet-class>Calc</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Header</servlet-name>
        <servlet-class>Header</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Login</servlet-name>
        <servlet-class>Login</servlet-class>
        <init-param>
            <param-name>Login</param-name>
            <param-value>MCA</param-value>
        </init-param>
    </servlet>
    <servlet>
        <servlet-name>LoginContext</servlet-name>
        <servlet-class>LoginContext</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>LoginCaptcha</servlet-name>
        <servlet-class>project.LoginCaptcha</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Auth</servlet-name>
        <servlet-class>project.Auth</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ShoppingCart</servlet-name>
        <servlet-class>ShoppingCart</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Session</servlet-name>
        <servlet-class>Session</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>LoginURLParamSet</servlet-name>
        <servlet-class>LoginURLParamSet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>LoginURLParamGet</servlet-name>
        <servlet-class>LoginURLParamGet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AppExceptionHandler</servlet-name>
        <servlet-class>AppExceptionHandler</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>MyServletException</servlet-name>
        <servlet-class>MyServletException</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>CalException</servlet-name>
        <servlet-class>CalException</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ErrorServlet</servlet-name>
        <servlet-class>ErrorServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>CalExp</servlet-name>
        <servlet-class>CalExp</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Hidden</servlet-name>
        <servlet-class>Hidden</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>TourServlet</servlet-name>
        <servlet-class>TourServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Register</servlet-name>
        <servlet-class>project.Register</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>Color</servlet-name>
        <url-pattern>/Color</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Calc</servlet-name>
        <url-pattern>/Calc</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Header</servlet-name>
        <url-pattern>/Header</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Login</servlet-name>
        <url-pattern>/Login</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>LoginContext</servlet-name>
        <url-pattern>/LoginContext</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>LoginCaptcha</servlet-name>
        <url-pattern>/LoginCaptcha</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Auth</servlet-name>
        <url-pattern>/Auth</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ShoppingCart</servlet-name>
        <url-pattern>/ShoppingCart</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Session</servlet-name>
        <url-pattern>/Session</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>LoginURLParamSet</servlet-name>
        <url-pattern>/LoginURLParamSet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>LoginURLParamGet</servlet-name>
        <url-pattern>/LoginURLParamGet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AppExceptionHandler</servlet-name>
        <url-pattern>/AppExceptionHandler</url-pattern>
    </servlet-mapping>
    <error-page>
        <error-code>500</error-code>
        <location>/AppExceptionHandler</location>
    </error-page>
    <servlet-mapping>
        <servlet-name>MyServletException</servlet-name>
        <url-pattern>/MyServletException</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>CalException</servlet-name>
        <url-pattern>/CalException</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ErrorServlet</servlet-name>
        <url-pattern>/ErrorServlet</url-pattern>
    </servlet-mapping>
    <error-page>
        <exception-type>java.lang.NumberFormatException</exception-type>
        <location>/ErrorServlet</location>
    </error-page>
    <servlet-mapping>
        <servlet-name>CalExp</servlet-name>
        <url-pattern>/CalExp</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Hidden</servlet-name>
        <url-pattern>/Hidden</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>TourServlet</servlet-name>
        <url-pattern>/TourServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Register</servlet-name>
        <url-pattern>/Register</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
</web-app>
